#DateLine {
  display: inline-block;
}
#DateLine h1 {
  display: inline-block;
  font-size: 2em;
  margin-right:0.25em;
}
#DateLine.today {
  color:hsl(12, 83%, 62%);
}
#DateLine h1 date {
  font-size: 1.5rem;
}
#DateLine h2 {
  display: none;
}
#DateLine today {
  display: none;
}
#DateLine.today today {
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.2rem;
  position: relative;
  top: -0.2rem;
}
