* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding:0;
  margin:0;
}
body {
  font-size: 16px;
  color:hsl(0, 0%, 10%);
}
input {
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.5em;
}
.widget {
  background-color: hsl(0, 0%, 92%);
  padding: 1em;
  position: relative;
}
.task_list li {
  list-style: none;
  display: inline-block;
  padding: 0.2em;
  border-radius: 2px;
  margin:0.1em;
  font-size:0.9em;
}
.no_content_container {
  font-size:0.9em;
  font-style: italic;
}
.hidden {
  display: none;
}
section>header {
  margin-bottom: 1em;
}
.mini_button {
  cursor: pointer;
  padding: 0.2rem;
  font-size: 0.9rem;
  border-radius: 2px;
  display: inline-block;
}
.mini_button:hover {
  color:hsl(217, 89%, 61%);
}
#Settings section {
  margin:1em 0;
}

#head {
  padding: 1em;
  background-color: hsl(47, 96%, 64%);
}

/* POS */
#head #settings_button {
  float:right;
  margin-top:0.75em;
  font-size: 0.9em;
}

.segments .segment:first-child {
  font-weight: bold;
  border-left: 1px solid #ccc;
}
.segment {
  padding: 0.2rem 0.4rem;
  display: inline-block;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.segment_separator {
  display: inline-block;
  margin-right: 0.5em;
}

#Settings>.mini_button {
  background-color: hsl(0, 0%, 100%);
  border-top: 1px solid hsl(0, 0%, 90%);
  border-left: 1px solid hsl(0, 0%, 90%);
  border-right: 1px solid hsl(0, 0%, 90%);
}
#Settings .background {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: hsla(0, 0%, 0%, 0.35);
}
#Settings .content {
  display: inline-block;
  background-color: hsl(0, 0%, 95%);
  text-align: left;
  padding:1em;
  margin-top:4em;
  position: relative;
  z-index: 10000;
  border-radius: 4px;
}
#Settings .close {
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  font-size: 2em;
  color: hsl(16, 65%, 45%);
  cursor: pointer;
}
#Settings .fa-toggle-on,
#Settings .fa-toggle-off {
  font-size: 1.5em;
  position: relative;
  top:0.1em;
  margin-right:0.25em;
  color:hsl(16, 65%, 45%);
}
#Settings label {
  display: inline-block;
}
#Settings .settings_group {
  margin-bottom: 2em;
}
#Settings .settings_group_label {
  font-size: 1.5em;
  min-width: 12em;
  margin-bottom: 0.3em;
}
#Settings h2 {
  font-size: 1.8em;
}
#Settings .field_wrapper {
  min-height: 1.5em;
  padding:0.25em;
}
#Settings .field_wrapper label {
  min-width: 15em;
}
#Settings .field_wrapper .button label {
  min-width: auto;
}
#Settings .field_wrapper .button label,
#Settings .field_wrapper .button {
  cursor: pointer;
}
#settings_button {
  cursor: pointer;
} 

#Stats,
#Goal {
  display: block;
}

summary-container {
  display: flex;
}
@media (max-width: 800px) {
  summary-container {
    flex-direction: column;
  }
}
