* {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding:0;
	margin:0;
}
body {
	font-size: 16px;
	padding:1em 1em 2em 1em;
	color:hsl(0, 0%, 25%);
	background-color: hsl(0, 0%, 97%);
}
.pos_wrapper {
	position: relative;
}
table {
	border-collapse: collapse;
}
.widget {
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
	background-color: hsl(0, 0%, 100%);
	border:1px solid hsl(0, 0%, 94%);
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
}
.logo {
	position: fixed;
	bottom:0;
	left:0;
	display: inline-block;
	background-color: hsl(0, 0%, 90%);
	padding:0.3em 0.5em;
}
.logo .version {
	display: inline-block;
	color:hsl(0, 0%, 50%);
	font-size: 0.8em;
	margin-left:0.25em;
}
.logo .version:before {
	content: "v";
}
.no_content_container {
	font-size:0.9em;
	font-style: italic;
}
section>header {
	margin-bottom: 1em;
}
@keyframes shake {
	10%, 90% { transform: translate3d(-1px, 0, 0); }
	20%, 80% { transform: translate3d(2px, 0, 0); }
	30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
	40%, 60% { transform: translate3d(4px, 0, 0); }
}
@keyframes shake2 {
	10%, 90% { transform: translate3d(-1px, 0, 0); }
	20%, 80% { transform: translate3d(2px, 0, 0); }
	30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
	40%, 60% { transform: translate3d(4px, 0, 0); }
}
.shake {
	animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
.shake2 {
	animation: shake2 0.42s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
.mini_button {
	cursor: pointer;
	color:hsl(0, 0%, 70%);
	padding: 0.2em;
	border:1px solid transparent;
	font-size: 0.9em;
	display: inline-block;
}
.mini_button:hover {
	color:hsl(217, 89%, 61%);
}

/* POS */
#Blasticator,
#JsonExport,
#JsonImport {
	position: fixed;
	bottom: 0;
	background-color: #FFF;
}
#Blasticator {
	right: 9.5em;
}
#JsonExport {
	right: 5em;
}
#JsonImport {
	right:0.5em;
}
#summary_nav {margin-top: 2em;}
#SpanSummary {
	display: inline-block;
}
#JsonSummary {
	position: relative;
}
#DateLine {
}
#DailyGoal {
	position: absolute;
	top:0;
	right:0;
}
#DateSelector {
	margin-top: 0.5em;
}
section.summaries {
	margin-bottom:1em;
}
