* {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding:0;
  margin:0;
}
body {
  font-size: 16px;
  color:hsl(0, 0%, 10%);
  margin: 0 auto;
  max-width: 65rem;
  background-color: hsl(0, 0%, 23%);
  border-left: 2px solid hsl(0, 0%, 25%);
  border-right: 2px solid hsl(0, 0%, 25%);
}
input {
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.5em;
}
.task_list li {
  list-style: none;
  padding: 0.2em;
  border-radius: 2px;
  margin:0.2em 0;
  font-size:0.9em;
  background-color: hsl(182, 82%, 93%);
  border:1px solid hsl(182, 82%, 73%);
}
.no_content_container {
  font-size:0.9em;
  font-style: italic;
}
.hidden {
  display: none;
}
.mini_button {
  cursor: pointer;
  padding: 0.2rem;
  font-size: 0.9rem;
  border-radius: 2px;
  display: inline-block;
}
.mini_button:hover {
  color:hsl(217, 89%, 61%);
}
#Settings section {
  margin:1em 0;
}

#head {
  padding: 1em;
  background-color: hsl(218, 23%, 21%);
  color: white;
}

/* POS */
#head #settings_button {
  float:right;
  margin-top:0.75em;
  font-size: 0.9em;
}

.segments {
  position: relative;
}
.segments i.icon {
  border: 1px solid transparent;
  padding: 0.1em;
  padding-left: 0.18em;
  border-radius:2px;
  margin-right: 0.2em;
  font-size: 0.8em;
  position: relative;
  top: -0.25em;
}
.segments .segment:nth-child(2) {
  font-weight: bold;
  font-size: 1.2em;
}
.segment {
  padding: 0.2em;
  display: inline-block;
}
.segment_separator {
  display: inline-block;
  margin: 0 0.25em;
  font-size: 0.8em;
}

#Settings>.mini_button {
  background-color: hsl(0, 0%, 100%);
  border-top: 1px solid hsl(0, 0%, 90%);
  border-left: 1px solid hsl(0, 0%, 90%);
  border-right: 1px solid hsl(0, 0%, 90%);
}
#Settings .background {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-color: hsla(0, 0%, 0%, 0.35);
}
#Settings .content {
  display: inline-block;
  background-color: hsl(0, 0%, 95%);
  text-align: left;
  padding:1em;
  margin-top:4em;
  position: relative;
  z-index: 10000;
  border-radius: 4px;
}
#Settings .close {
  position: absolute;
  top: -0.25em;
  right: -0.25em;
  font-size: 2em;
  color: hsl(12, 83%, 62%);
  cursor: pointer;
}
#Settings .fa-toggle-on,
#Settings .fa-toggle-off {
  font-size: 1.5em;
  position: relative;
  top:0.1em;
  margin-right:0.25em;
}
#Settings .field_wrapper .fas {
  color:hsl(214, 35%, 37%);
}
#Settings label {
  display: inline-block;
}
#Settings .settings_group {
  margin-bottom: 2em;
}
#Settings .settings_group_label {
  font-size: 1.5em;
  min-width: 12em;
  margin-bottom: 0.3em;
}
#Settings h2 {
  font-size: 1.8em;
}
#Settings .field_wrapper {
  min-height: 1.5em;
  padding:0.25em;
}
#Settings .field_wrapper label {
  min-width: 15em;
}
#Settings .field_wrapper .button label {
  min-width: auto;
}
#Settings .field_wrapper .button label,
#Settings .field_wrapper .button {
  cursor: pointer;
}
#settings_button {
  cursor: pointer;
} 

.heart-container {
  white-space: nowrap;
}
.heart {
  color: hsl(12, 83%, 62%);
  border: 1px solid hsl(12, 83%, 62%);
  border-radius: 4px;
  padding: 0.1rem;
  margin-right: 0.1rem;
  background-color: white;
}
.heart-wrapper {
  display: inline-block;
  position: relative;
}
.heart.outer {
  color: hsl(0, 0%, 77%);
  border: 1px solid hsl(0, 0%, 57%);
}
.heart-wrapper .truncator {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  overflow: clip;
  border-right: 1px solid hsl(12, 83%, 62%);
}

inner.overage {
  box-shadow: 0px 0px 7px 3px rgba(91,204,204,0.95);
}

summary-container {
  display: flex;
  background-color: hsl(182, 82%, 93%);
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  summary-container {
    flex-direction: column;
  }
}
summary-container #SpanSummary {
  flex: 1;
}
summary-container #DaySummary {
  flex: 1;
}
