body.theme_dark {
  color: hsl(90, 26%, 84%);
  background-color: hsl(340, 21%, 11%);
}
body.theme_dark #Settings .content,
body.theme_dark .widget {
  background-color: hsl(172, 21%, 28%);
  border: 1px solid hsl(172, 21%, 38%);
}
body.theme_dark input {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 60%);
}
body.theme_dark input::placeholder {
  color: #CCC;
}
body.theme_dark #SpanCreator .time_field_container .time {
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 1px solid hsl(0, 0%, 60%);
}
body.theme_dark #SpanCreator .time_field_container .time.error {
  border: 1px solid hsl(0, 100%, 70%);
}
body.theme_dark #SpanCreator .task_list li {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: 1px solid hsl(0, 0%, 55%);
}
body.theme_dark #Settings>.mini_button {
  background-color: hsla(252, 23%, 32%, 1);
  border: 1px solid hsl(252, 23%, 43%);
}
body.theme_dark #DailyGoal .progress_inner {
  border-top: 1px solid hsl(106, 100%, 24%);
  border-right: 1px solid hsl(106, 100%, 24%);
  border-bottom: 1px solid hsl(106, 100%, 24%);
  background-color: hsl(111, 53%, 54%);
}
body.theme_dark #DailyGoal .progress_outer {
  background-color: hsl(147, 30%, 80%);
  border: 1px solid hsl(147, 30%, 88%);
}
body.theme_dark #DailyGoal .progress_inner {
  background-color: hsl(147, 56%, 51%);
}
body.theme_dark #SpanCreator .now {
  background-color: hsl(38, 73%, 45%);
}
body.theme_dark #SpanCreator .save {
  background-color: hsl(38, 73%, 45%);
  border:none;
  color: hsl(0, 0%, 100%);
}
body.theme_dark #SpanCreator label {
  color:hsl(90, 26%, 84%);
}
body.theme_dark .ModalDialogue .box {
  background-color: hsl(172, 21%, 28%);
  border: 1px solid hsl(172, 21%, 38%);
}
body.theme_dark .ModalDialogue button.primary {
  background-color:hsl(38, 73%, 45%);
  border:none;
  color: hsl(0, 0%, 100%);
}
body.theme_dark #SpanCreator .project_suggestions .suggestion:first-child {
  border-top: 1px solid hsl(172, 22%, 15%);
}
body.theme_dark #SpanCreator .project_suggestions .suggestion {
  background-color: hsla(172, 21%, 28%, 95%);
  border-left: 1px solid hsl(172, 22%, 15%);
  border-right: 1px solid hsl(172, 22%, 15%);
  border-bottom: 1px solid hsl(172, 22%, 15%);
}
body.theme_dark #SpanCreator .project_suggestions .suggestion.today.selected,
body.theme_dark #SpanCreator .project_suggestions .suggestion.selected,
body.theme_dark #SpanCreator .project_suggestions .suggestion.today:hover,
body.theme_dark #SpanCreator .project_suggestions .suggestion:hover {
  background-color: hsla(191, 92%, 33%, 0.95);
}
body.theme_dark #SpanCreator .project_suggestions .suggestion.today {
  background-color: hsla(172, 21%, 33%, 95%);
}
body.theme_dark #SpanCreator .project_suggestions .suggestion.today {
  background-color: hsla(272, 21%, 33%, 95%);
}
body.theme_dark #SpanCreator .project_suggestions .suggestion.selected.today .selected_indicator,
body.theme_dark #SpanCreator .project_suggestions .suggestion.selected .selected_indicator {
  color:hsl(0, 0, 100%);
  display: inline-block;
}
body.theme_dark #Settings .close,
body.theme_dark #Settings .fa-toggle-on, 
body.theme_dark #Settings .fa-toggle-off {
  color:hsl(38, 73%, 45%);
}
body.theme_dark #ProjectSummary i.copy,
body.theme_dark #SpanSummary .mini_button {
  color: hsl(90, 26%, 68%);
}
body.theme_dark #DateLine.today h1 {
  color:hsl(191, 92%, 33%)
}