#SpanSummary thead {
	display: none;
}
#SpanSummary tbody tr:hover {
	background-color: hsl(0, 0%, 97%);
}
#SpanSummary tbody tr.selected {
	background-color: hsl(213, 51%, 80%);
}
#SpanSummary .hours,
#SpanSummary .time {
	text-align: center;
}
