#SpanSummary li {
  list-style: none;
  display: inline-block;
  font-size:0.8em;
}
#SpanSummary li:after {
  content: "|";
}
#SpanSummary table {
  border-collapse: collapse;
}
#SpanSummary tr.selected {
  background-color: blue;
}
#SpanSummary tr:nth-child(odd) {
  border-top: 1px solid hsl(202, 46%, 72%);
}
#SpanSummary tr:nth-child(1) {
  border: none;
}
