week-summary {
  display: flex;
  background-color: white;
  font-size: 0.8rem;
}
week-summary .segment {
  font-size: 1rem;
}
week-summary column {
  flex: 1;
  padding: 1em 2em;
  margin: 0;
}
week-summary week-item {
  display: flex;
  justify-content: space-between;
}
week-summary outer,
week-summary inner {
  font-size: 0rem;
  display: inline-block;
  height: 12px;
}
week-summary outer {
  width: 100px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 70%);
  margin-left: 0.25rem;
}
week-summary unit {
  font-size: 0.8em;
}
week-summary delta {
  display: inline-block;
  width: 2.75em;
  text-align: right;
  font-style: italic;
  text-align: right;
  margin-left: 0.1em;
}

@media (max-width: 800px) {
  week-summary {
    flex-direction: column;
  }
}
