week-summary {
  display: block;
  background-color: white;
}
week-summary week-item {
  display: block;
}
week-summary outer,
week-summary inner {
  font-size: 0rem;
  display: inline-block;
  height: 12px;
}
week-summary outer {
  width: 100px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 70%);
}
