#Goal {
}
#Goal section>label {
}
#Goal section {
  position: relative;
  margin-bottom: 2em;
}
#Goal canvas {
}
#Goal section.doughnut .hour_value {
  top:2.75em;
  font-size:1.8em;
}
#Goal section.doughnut .hour_value:after {
  content:' hr';
  font-size:0.5em;
}
#Goal section.doughnut .percent_value {
  top:7.5em;
  font-size:1em;
}
#Goal section.doughnut .percent_value:after {
  content:'%';
}
#Goal section.doughnut .hours_remaining {
  top:14em;
  font-size:0.8em;
  position: absolute;
  left:0;
  top:1.75em;
}
#Goal section.doughnut .hours_remaining:after {
  content:' remaining';
}
#Goal .text {
  position: absolute;
  width:100%;
  text-align: center;
}