#Goal {
}
#Goal h2 {
  font-size: 1.2rem;
}
#Goal section {
  position: relative;
}
#Goal section>* {
  display: inline-block;
}
#Goal progress-bar {
  width: 200px;
  height: 13px;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
}
#Goal progress-bar inner-bar {
  height: 13px;
  display: inline-block;
  position: relative;
  top: -2px;
}
#Goal #goal-daily progress-bar {
  background-color: #e7f9ec;
}
#Goal #goal-daily progress-bar inner-bar {
  background-color: #5bdd81;
}
#Goal #goal-weekly progress-bar {
  background-color: #f3f9ff;
}
#Goal #goal-weekly progress-bar inner-bar {
  background-color: #2982db;
}
#Goal label {
  position: absolute;
  left: 0.5rem;
  font-size: 0.8rem;
  color: white;
}
#Goal .hour_value {
}
#Goal .hour_value:after {
  content:' hr';
}
