#DaySummary day-item {
  display: block;
  border-bottom: 1px solid hsl(202, 46%, 72%);
  padding: 0.5rem 1rem;
}
#DaySummary day-item:last-child {
  border: none;
}
#DaySummary header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#DaySummary label {
  display: inline-block;
}
#DaySummary time {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
#DaySummary outer,
#DaySummary inner {
  font-size: 0rem;
  display: inline-block;
  height: 12px;
}
#DaySummary outer {
  width: 100px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 70%);
}
#DaySummary percent-text {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
#DaySummary li {
  list-style: none;
  display: inline-block;
  font-size:0.8em;
}
#DaySummary li:after {
  content: "\22C4";
  margin: 0 0.25em;
}
#DaySummary li:last-child:after {
  content: none;
}
#DaySummary hours {
  font-weight: bold;
  border-bottom: 1px dashed hsl(214, 35%, 37%);
  cursor: pointer;
  min-width: 2em;
  text-align: right;
  display: inline-block;
}
#DaySummary .totals hours {
  border:none;
  cursor: default;
}
#DaySummary .totals label {
  font-weight: bold;
}
#DaySummary .totals time {
  margin-bottom: 0;
}
#DaySummary .totals .fa-sigma {
  border: 1px solid hsl(12, 83%, 62%);
  color: hsl(12, 83%, 62%);
  background-color: hsla(12, 83%, 62%, 0.1);
  border-radius: 2px;
  margin-right: 0.5em;
  padding: 0.1em 0.35em;
  font-size: 0.8em;
  position: relative;
  top: -0.25em;
}
#DaySummary unit {
  font-size: 0.8rem;
  cursor: pointer;
}
#DaySummary .totals unit {
  cursor: default;
}
#DaySummary ul {
  display: inline;
}
#DaySummary delta {
  display: inline-block;
  min-width: 2.5em;
  font-style: italic;
  text-align: right;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
#DaySummary heart-container {
  margin-left: 1rem;
}
#DaySummary ul {
  margin-top: 0.25rem;
  border-bottom: 1px dashed hsl(214, 35%, 37%);
  cursor: pointer;
}
#DaySummary task-container {
  display: block;
}
#DaySummary i.copy {
  width: 0.9em;
  font-size: 0.8em;
  cursor: pointer;
}