#DaySummary table {
  border-collapse: collapse;
}
#DaySummary td {
  padding: 0.25rem;
  vertical-align: top;
}
#DaySummary tr:nth-child(odd) {
  border-top: 1px solid hsl(202, 46%, 72%);
}
#DaySummary tr:nth-child(1) {
  border: none;
}
#DaySummary td.delta {
  font-style: italic;
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#DaySummary outer,
#DaySummary inner {
  font-size: 0rem;
  display: inline-block;
  height: 12px;
}
#DaySummary outer {
  width: 100px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 70%);
}
#DaySummary .daily-progress inner {
  background-color: hsl(12, 83%, 62%);
}
#DaySummary percent-text {
  font-size: 0.9rem;
}
#DaySummary td.hours {
  padding-left: 1rem;
  font-weight: bold;
  text-align: right;
}
#DaySummary .unit {
  font-size: 0.8rem;
  font-weight: normal;
  margin-right: 0.5rem;
}
#DaySummary percent-text {
  margin-left: 0.5rem;
}
#DaySummary .totals td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#DaySummary .totals .label {
  font-weight: bold;
  padding-left: 1rem;
}
#DaySummary i.copy {
  font-size: 0.8rem;
  cursor: pointer;
  border:  1px solid hsl(214, 35%, 27%);
  padding:  0.25rem;
  border-radius: 4px;
  width: 0.9em;
  background-color: hsl(214, 35%, 37%);
  color: white;
}
#DaySummary tr.extra td {
  padding: 1em;
  font-size: 0.9rem;
}
#DaySummary a {
  text-decoration: none;
  color: black;
}
#DaySummary .more {
  font-size: 0.9rem;
  padding-left: 1rem;
}
#DaySummary td header {
  margin-bottom: 0.5em;
  font-weight: bold;
}
#DaySummary ul {
  display: inline;
}
#DaySummary li {
  list-style: none;
  display: inline-block;
  font-size:0.8em;
}
#DaySummary li:after {
  content: "|";
}
#DaySummary .tasks i {
  margin-left: 0.5rem;
}