#DateSelector {
  display: block;
  font-size: 0.8em;
}
input.date_picker[type="date"] {
  font-size:2em;
  width: 8em;
  padding:0.3em;
}
input.date_picker[type="date"]::-webkit-inner-spin-button {
  display: none;
}
