#summary_nav li {
	display: inline-block;
	cursor: pointer;
	padding:0.2em;
}
#summary_nav li.selected {
	font-weight: bold;
	text-decoration: none;
	color:hsl(217, 89%, 61%);
	border-bottom: 2px solid hsl(217, 89%, 61%);
}
#summaries>section>header {
	display:none;
}
