#ProjectSummary table {
	min-width: 40em;
}
#ProjectSummary thead {
	display: none;
}
#ProjectSummary .hours,
#ProjectSummary .time {
	text-align: center;
}
#ProjectSummary tbody .project {
	font-weight: bold;
}
