#ProjectSummary table {
  min-width: 40em;
}
#ProjectSummary thead {
  display: none;
}
#ProjectSummary .hours,
#ProjectSummary .time {
  text-align: center;
}
#ProjectSummary .segment {
  display: inline-block;
  margin-right: 0.5em;
  font-style: italic;
}
#ProjectSummary .segment_1 {
  color:red;
}
#ProjectSummary .segment_2 {
  color:blue;
}
#ProjectSummary .segment_separator {
  display: inline-block;
  margin-right: 0.5em;
}
#ProjectSummary li.copy {
  border:0;
  background-color: transparent;
}
#ProjectSummary .button.copy {
  cursor: pointer;
  vertical-align: text-bottom;
  color: hsl(106, 100%, 24%);
  display: inline-block;
  margin-left:.2em;
  font-size: 0.9em;
}
