#ProjectSummary thead {
  display: none;
}
#ProjectSummary .hours {
  text-align: center;
  white-space: nowrap;
}
#ProjectSummary li.copy {
  border:0;
  background-color: transparent;
}
#ProjectSummary .button.copy {
  cursor: pointer;
  vertical-align: text-bottom;
  color: hsl(106, 100%, 24%);
  display: inline-block;
  margin-left:.2em;
  font-size: 0.9em;
}
