#JsonSummary .json {
	white-space: pre;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.7em;
	overflow: auto;
	height: 25em;
	border: 1px solid hsl(0, 0%, 90%);
	padding: 1em;
	background-color: hsl(0, 0%, 99%);
}
#JsonSummary .copy {
	margin-top: 0.5em;
}
#JsonSummary .clipboard {
	position: absolute;
	bottom:0em;
	left:0em;
}