#ProjectSummary .item_container>li {
  position: relative;
  list-style: none;
  margin:1em 0;
  padding:0.5em;
  border:1px solid #CCC;
  border-radius: 2px;
}
#ProjectSummary .item_container>li header {
  margin-bottom: 1em;
}
#ProjectSummary .hours {
  white-space: nowrap;
  float: right;
}
#ProjectSummary li.copy {
  border:none;
  background-color:transparent;
}
#ProjectSummary i.copy {
  cursor: pointer;
  min-width: 1em;
  color:hsl(0, 0%, 44%);
}
#ProjectSummary .project_copy {
  position: absolute;
  right: 0.2em;
  bottom: 0.2em;
}
