#Stats section {
  display: inline-block;
  width: 17rem;
  font-size: 0;
}
#Stats .distribution {
  display: inline-block;
  width: 202px;
  height: 10px;
}
#Stats segment {
  display: inline-block;
  height: 100%;
}
