#Stats section.pie {
  position: relative;
  margin-bottom: 2em;
}
#Stats .percent {
  position: absolute;
  top: 1.75em;
  font-size: 0.8em;
}
#Stats .percent:after {
  content:"%";
}
#Stats .legend {
  margin-top:2em;
  text-align: center;
}
#Stats .legend li {
  list-style: none;
  display: inline-block;
  margin-right:1em;
  margin-bottom: 0.5em;
}
#Stats .legend .color {
  display:inline-block;
  height:1em;
  width:1.5em;
}