#Stats {
  display: flex;
}
#Stats #StatsEfficiency {
  flex: 1;
}
#Stats #StatsTodayRoot,
#Stats #StatsWeeklyRoot {
  flex: 3;
}
#Stats section {
  display: inline-block;
  margin-right: 0.5rem;
  max-height: 4rem;
}
#Stats .content {
  display: flex;
}
#Stats canvas-wrapper {
  display: inline-block;
  margin-right: 1rem;
}
#Stats .legend {
  display: inline-block;
}
#Stats .legend li {
  list-style: none;
  display: inline-block;
  margin-right:1em;
  margin-bottom: 0.5em;
  font-size: 0.8rem;
}
#Stats .legend .color {
  display:inline-block;
  height:1rem;
  width:1.5rem;
}