#TableSummary table {
  border-collapse: collapse;
}
#TableSummary td {
  padding: 0.25rem;
}
#TableSummary tbody tr {
  border-top: 1px solid hsl(202, 46%, 72%);
}
#TableSummary tbody tr:nth-child(1) {
  border: none;
}
#TableSummary tbody tr:nth-child(even) {
  /*background-color: hsl(202, 46%, 72%);*/
}
#TableSummary tbody td.delta {
  font-style: italic;
  font-size: 0.9rem;
}
#TableSummary outer,
#TableSummary inner {
  font-size: 0rem;
  display: inline-block;
  height: 12px;
}
#TableSummary outer {
  width: 100px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 70%);
}
#TableSummary inner {
}
#TableSummary percent-text {
  font-size: 0.9rem;
}
#TableSummary td.hours {
  padding-left: 1rem;
  font-weight: bold;
  text-align: right;
}
#TableSummary td.hours:after {
  content: " hr";
  font-size: 0.8rem;
  font-weight: normal;
}
#TableSummary td.weight {
}
#TableSummary td.weight percent-text {
  margin-left: 0.5rem;
}