#TableSummary table {
  border-collapse: collapse;
}
#TableSummary td {
  padding: 0.25rem;
}
#TableSummary tbody tr:nth-child(odd) {
  border-top: 1px solid hsl(202, 46%, 72%);
}
#TableSummary tbody tr:nth-child(1) {
  border: none;
}
#TableSummary tbody td.delta {
  font-style: italic;
  font-size: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#TableSummary outer,
#TableSummary inner {
  font-size: 0rem;
  display: inline-block;
  height: 12px;
}
#TableSummary outer {
  width: 100px;
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 70%);
}
#TableSummary .daily-progress inner {
  background-color: hsl(12, 83%, 62%);
}
#TableSummary percent-text {
  font-size: 0.9rem;
}
#TableSummary td.hours {
  padding-left: 1rem;
  font-weight: bold;
  text-align: right;
}
#TableSummary .unit {
  font-size: 0.8rem;
  font-weight: normal;
  margin-right: 0.5rem;
}
#TableSummary percent-text {
  margin-left: 0.5rem;
}
#TableSummary .totals td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#TableSummary .totals .label {
  font-weight: bold;
  padding-left: 1rem;
}
#TableSummary i.copy {
  font-size: 0.8rem;
  cursor: pointer;
  border:  1px solid hsl(214, 35%, 27%);
  padding:  0.25rem;
  border-radius: 4px;
  width: 0.9em;
  background-color: hsl(214, 35%, 37%);
  color: white;
}
#TableSummary tr.extra td {
  padding: 1em;
  font-size: 0.9rem;
}
#TableSummary a {
  text-decoration: none;
  color: black;
}
#TableSummary .task-label {
  margin-right: 0.5rem;
}
#TableSummary .task-label i {
  width: 0.75rem;
}
#TableSummary li {
  list-style: none; 
  margin-top: 1em;
}